<!DOCTYPE html>
<html lang="en" ng-app="votingApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <title>Voting App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <link href="../css/navbar-fixed-top.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <base href="/votingapp/">
  </head>

  <body ng-cloak>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container" ng-controller="MainController">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="navbar-title" href=".">Voting App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active: isActive('/')}" ng-click="homeActive=true; newActive=false; pollsActive=false"><a href=".">Home</a></li>
            <li ng-show="user" ng-class="{active: isActive('/new')}" ng-click="homeActive=false; newActive=true; pollsActive=false"><a href="new">New Poll</a></li>
            <li ng-show="user" ng-class="{active: isActive('/userpolls')}" ng-click="homeActive=false; newActive=false; pollsActive=true"><a href="userpolls">My Polls</a></li>
          </ul>
          <div class="nav navbar-nav navbar-right">
            <a class="btn btn-primary navbar-btn" ng-click="login()" role="button" ng-show="!user"><i class="fa fa-twitter fa-lg login-icon" aria-hidden="true"></i>
Sign in with Twitter</a>
            <li class="dropdown" ng-show="user">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.twitterName}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a ng-click="logout()">Log out</a></li>
              </ul>
            </li>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div ng-view></div>

      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          LexLabs <i class="fa fa-copyright fa-flip-horizontal"></i> 2017. All rights renounced.
          <a href="https://github.com/disappearer/voting_app" target="_blank"><i class="fa fa-github"></i></a>
        </div>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
    <script src="/scripts/angular-spinners.min.js">

    </script>
    <script src="/scripts/angular-chart.min.js"></script>
    <script src="/scripts/angular-socialshare.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/ctrl.poll.list.js"></script>
    <script src="/js/controllers/ctrl.user.poll.list.js"></script>
    <script src="/js/controllers/ctrl.poll.create.js"></script>
    <script src="/js/controllers/ctrl.poll.details.js"></script>
  </body>
</html>
