<div class="jumbotron" id="poll-detail">
  <h2>{{poll.question}}</h2>
  <div class="row">
    <div class="col-md-6">
      <form>
        <div ng-repeat="answer in poll.answers">
          <label>
            <input type="radio" name="asdf" ng-model="poll.choice" ng-value="$index">
            {{answer.text}} (Votes: {{answer.votes}})
          </label><br />
        </div>
        <div id="vote-alert" ng-show="showVoteAlert">
          {{voteAlertMessage}}
        </div>
      </form>
      <button class="btn btn-primary" ng-click="">Add answer</button>
      <button class="btn btn-primary" ng-click="submit()">Submit</button>
    </div>
  </div>
</div>
