<div class="jumbotron" id="poll-detail">
  <h2>{{poll.question}}</h2>
  <div class="row">
    <div class="col-md-6">
      <form>
        <div ng-repeat="answer in poll.answers">
          <label>
            <input type="radio" name="poll-option" ng-model="poll.choice" ng-value="$index">
            {{answer.text}} (Votes: {{answer.votes}})
          </label><br />
        </div>
        <div ng-show="user">
          <label>
            <input type="radio" name="poll-option" ng-model="poll.choice" ng-value="poll.answers.length">
            Other (custom option)
          </label><br />
        </div>
        <div ng-show="poll.choice==poll.answers.length">
          <input type="text" ng-model="customOption.text" placeholder="Custom Option">
        </div>
        <div id="vote-alert" ng-show="showVoteAlert">
          {{voteAlertMessage}}
        </div>
      </form>
      <div id="poll-btns">
        <button class="btn btn-primary" ng-click="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>
