<div class="jumbotron">
  <h2>All Polls</h2>
  <br>
  <p>Select a poll to vote on, or <span ng-show="!user"><a href="javascript:;" ng-click="login()">sign in</a> to </span>create one.</p>
  <spinner name="listSpinner" show="true" img-src="/img/spinner.gif"></spinner>
  <div id="poll-list" ng-show="polls">
    <div ng-repeat="poll in polls" ng-show="!loading">
      <div class="row">
        <div class="col-md-12">
          <a href="poll/{{poll.id}}">{{poll.question}}</a>
        </div>
      </div>
    </div>
  </div> <!-- poll-list -->

  <div id="no-polls" ng-show="!polls && !loading">
    <h3>No polls in the database yet.</h3>
  </div>
</div>
