<div class="jumbotron" id="poll-detail">
  <h2>{{poll.question}}</h2>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center" ng-show="loading">
      <spinner id="spinner" name="spinner" show="true" img-src="/img/spinner.gif"></spinner>
    </div>
    <div class="col-md-4" ng-show="!loading">
      <form>
        <div ng-repeat="answer in poll.answers">
          <label>
            <input type="radio" name="poll-option" ng-model="poll.choice" ng-value="$index">
            {{answer.text}} (Votes: {{answer.votes}})
          </label><br />
        </div>
        <div ng-show="user">
          <label>
            <input type="radio" name="poll-option" ng-model="poll.choice" ng-value="poll.answers.length">
            Other (custom option)
          </label><br />
        </div>
        <div ng-show="poll.choice==poll.answers.length">
          <input type="text" ng-model="customOption.text" placeholder="Custom Option">
        </div>
        <div id="vote-alert" ng-show="showVoteAlert">
          {{voteAlertMessage}}
        </div>
      </form>
      <div id="poll-btns">
        <button class="btn btn-primary" ng-click="submit()">Submit</button>
        <button class="btn btn-primary" ng-click="share()" id="share-btn"
          socialshare
          socialshare-provider="twitter">
          <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
          Share on Twitter</button>
      </div>
    </div>
    <div class="col-md-8" id="poll-chart-col" ng-show="!loading">
      <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options" chart-legend="true">
      </canvas>
      <button class="btn btn-primary" id="remove-btn" ng-show="poll.UserId===user.id" ng-click="removePoll()">Remove Poll</button>
    </div>
  </div>
</div>
